html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ccc;
  font-family: Verdana, sans-serif;
}
#wrapper {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#header {
  height: 10%;
  margin: 0;
}
#header h1 {
  margin: 0;
}
#map {
  bottom: 0px;
  height: 80%;
/*  left: 362px;
  position: absolute;
  right: 0px;*/
}
#sidebar {
  background: #333;
  height: 100%;
  line-height: 35px;
  padding: 10px 0 30px 0;
}
.sidebarButton {
  width: 200px;
  font-size: 20px;
  padding: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #333;
  border: 1px solid #ccc;
}
#footer {
  text-align: center;
}
#footer p {
  margin: 0;
}
#footer a {
  color: #ccc;
  text-decoration: underline;
}
#placesFilter {
  width: 100%;
  margin: 0;
  font-size: 28px;
  padding: 10px 10px;
  background-color: #ccc;
  border: 1px solid #000;
  color: #000;
}
.search:focus {
  border-color: #fff;
}
h1, h2 {
  text-align: center;
  font-weight: normal;
}
.searchError {
  text-align: center;
  padding-left: 10px;
}
#placeList {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.place {
  padding: 5px 50px;
  border: 1px solid #444;
  margin: 0;
  width: 100%;
}
.place:hover {
  background-color: #444;
  cursor: default;
}
.infoWindow {
  color: #000;
  text-align: left;
  min-height: 350px;
  max-width: 200px;
}
.infoWindow h2 {
  text-align: left;
}
.infoWindow h3 {
  text-align: left;
  font-weight: normal;
}
.fourSquareInfo {
  background-color: #eff5ff;
  padding: 10px;
  margin: 0;
}
