html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #ccc;
  font-family: Verdana, sans-serif;
}
#map {
  bottom: 0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}
#sideBar {
  background: #333;
  height: 100%;
  line-height: 35px;
  padding: 10px 0 30px 0;
  text-align: left;
  width: 340px;
}
#placesFilter {
  width: 100%;
  margin: 0;
  font-size: 28px;
  padding: 10px 10px;
  background-color: #444;
  border: 1px solid #000;
  color: #ccc;
}
.search:focus {
  border-color: #fff;
}
h1, h2 {
  text-align: center;
  font-weight: normal;
}
.searchError {
  text-align: center;
  padding-left: 10px;
}
#placeList {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.place {
  padding: 5px 50px;
  border: 1px solid #444;
  margin: 0;
  width: 100%;
}
.place:hover {
  background-color: #444;
  cursor: default;
}
.infoWindow {
  color: #000;
}
